@import url(../css/reset.css);

@font-face {
    font-family: "Vela Sans";
    src: url("../fonts/VelaSans-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Vela Sans";
    src: url("../fonts/VelaSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Vela Sans";
    src: url("../fonts/VelaSans-ExtraBold.woff2") format("woff2");
    font-weight: 800;
}

body {
    background-color: #060606;
    overflow-x: hidden;
}

.header {
    padding-top: 13.333vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 5.833vw;
    line-height: 7.976vw;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

span {
    padding-top: 1.071vw;
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.905vw;
    line-height: 2.619vw;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

button {
    font-family: 'Vela Sans';
    font-size: 1.071vw;
    line-height: 143%;
    letter-spacing: 0.01em;

    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.357vw 0.893vw 0.476vw;
    gap: 0.714vw;
    width: auto;
    height: 3.333vw;
    /* System/Deep Green */
    background: #41EF3E;
    border: none;
    border-radius: 0.714vw;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3.810vw;
    padding-bottom: 3.810vw;
}

.img1 {
    width: 80%;
    height: auto;
}

input {
    padding: 0.357vw 0.714vw;
    gap: 1.905vw;
    width: 19.524vw;
    height: 3.333vw;
    /* Background/Bg Secondary */
    background: rgba(176, 175, 210, 0.09);
    border: none;
    border-radius: 0.714vw;

}

button:hover {
    background: #288726;
    transition: 0.3s;
}

.modules {
    position: relative;
    height: 53.571vw;
}

.modulesText {
    padding-left: 33.333vw;
    padding-top: 31.905vw;
    padding-bottom: 11.905vw;
}

.modul1 {
    position: absolute;
    top: 14.286vw;
    left: 5.714vw;
    width: 21.786vw;
    height: 33.452vw;
}

.modul2 {
    position: absolute;
    top: 4.762vw;
    left: 21.905vw;
    width: 21.786vw;
    height: 19.107vw;
}

.modul3 {
    position: absolute;
    top: 8.571vw;
    left: 62.857vw;
    width: 17.440vw;
    height: 12.500vw;
}

.modul4 {
    position: absolute;
    top: 14.762vw;
    left: 72.381vw;
    width: 21.786vw;
    height: 24.881vw;
}

.profile {
    padding-top: 4.762vw;
    position: relative;
    height: 64.286vw;
}

.profile1 {
    position: absolute;
    top: 0;
    left: 9.524vw;
    width: 71.845vw;
    height: 55.357vw;

}

.profileText {
    padding-top: 11.905vw;
    padding-left: 62.857vw;
}

.remember {
    position: relative;
    height: 41.667vw;
}

.remember1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 53.690vw;
    height: 36.786vw;
}
.rememberText {
    padding-top: 1.190vw;
    padding-left: 14.286vw;
}

h2 {
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 2.857vw;
    line-height: 3.929vw;
    color: #FFFFFF;
    padding-bottom: 0.952vw;
}

p {
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.429vw;
    line-height: 1.964vw;

    color: rgba(255, 255, 255, 0.6);
}

.connect {
    padding-bottom: 200px;
}

footer {
    background: rgba(176, 175, 210, 0.09);
    display: flex;
    flex-direction: row;
    height: 6.190vw;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 3.810vw;
    padding-left: 43.333vw;
}

h3 {
    padding-left: 3.810vw;
}

a, h3 {
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.071vw;
    line-height: 143%;
    text-decoration: none;
    /* identical to box height, or 26px */

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    /* Label/Label Secondary */

    color: rgba(241, 241, 241, 0.6);
}

@media screen and (max-width: 1440px) {

}