@import url(../css/reset.css);

@font-face {
    font-family: "Vela Sans";
    src: url("../fonts/VelaSans-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Vela Sans";
    src: url("../fonts/VelaSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Vela Sans";
    src: url("../fonts/VelaSans-ExtraBold.woff2") format("woff2");
    font-weight: 800;
}

body {
    background-color: #060606;
    overflow-x: hidden;
}

.img2 {
    display: none;
}

.remember2 {
    display: none;
}

.header {
    padding-top: 13.333vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 25, 0.4) 0%, rgba(0, 209, 255, 0) 80%),radial-gradient(50% 50% at 50% 50%, rgba(204, 234, 255, 0.2) 0%, rgba(0, 209, 255, 0) 60%);;
    background-position: left 600px top -500px, left -635px
    top 100px;
    background-repeat: no-repeat;
}

.runLeft {
    white-space: nowrap;
    animation: runningLeft 14s linear infinite;
}

.runRight {
    white-space: nowrap;
    animation: runningRight 14s linear infinite;
}

.icon {
    vertical-align: middle;
}

.runningText p {
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.runningText {
    padding-top: 8vw;
    padding-bottom: 8vw;
    overflow:hidden;
}

@keyframes runningLeft {
    0% {
        transform: translate(0,0);
    }

    100% {
        transform: translate(-1856px,0);
    }
} 

@keyframes runningRight {
    0% {
        transform: translate(-2004px,0);
    }

    100% {
        transform: translate(0,0);
    }
} 


h1 {
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 5.833vw;
    line-height: 7.976vw;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

span {
    padding-top: 1.071vw;
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.905vw;
    line-height: 2.619vw;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.profile2 {
    display: none;
}

button {
    font-family: 'Vela Sans';
    font-size: 1.071vw;
    line-height: 143%;
    letter-spacing: 0.01em;

    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.357vw 0.893vw 0.476vw;
    gap: 0.714vw;
    width: auto;
    height: 3.333vw;
    /* System/Deep Green */
    background: #41EF3E;
    border: none;
    border-radius: 0.714vw;
}

.form {
    display: flex;
    gap: 1vw;
    flex-direction: row;
    justify-content: center;
    padding-top: 3.810vw;
    padding-bottom: 3.810vw;
}

.img1 {
    width: 80%;
    height: auto;
}

input {
    padding: 0.357vw 0.714vw;
    gap: 1.905vw;
    width: 19.524vw;
    height: 3.333vw;
    /* Background/Bg Secondary */
    background: rgba(176, 175, 210, 0.09);
    border: none;
    border-radius: 0.714vw;

}

button:hover {
    background: #288726;
    transition: 0.3s;
}

.modules {
    position: relative;
    height: 53.571vw;
}

.modulesText {
    padding-left: 33.333vw;
    padding-top: 31.905vw;
    padding-bottom: 11.905vw;
    width: 23.810vw;
}

.modul1 {
    position: absolute;
    top: 14.286vw;
    left: 5.714vw;
    width: 21.786vw;
    height: 33.452vw;
}

.modul2 {
    position: absolute;
    top: 4.762vw;
    left: 21.905vw;
    width: 21.786vw;
    height: 19.107vw;
}

.modul3 {
    position: absolute;
    top: 8.571vw;
    left: 62.857vw;
    width: 17.440vw;
    height: 12.500vw;
}

.modul4 {
    position: absolute;
    top: 14.762vw;
    left: 72.381vw;
    width: 21.786vw;
    height: 24.881vw;
}

.profile {
    padding-top: 4.762vw;
    position: relative;
    height: 64.286vw;
}

.profile1 {
    position: absolute;
    top: 0;
    left: 9.524vw;
    width: 71.845vw;
    height: 55.357vw;

}

.profileText {
    padding-top: 11.905vw;
    padding-left: 62.857vw;
    width: 25.238vw;
}

.remember {
    position: relative;
    height: 41.667vw;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 25, 0.1) 0%, rgba(0, 209, 255, 0) 100%);
}

.remember1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 53.690vw;
    height: 36.786vw;
}
.rememberText {
    padding-top: 1.190vw;
    padding-left: 14.286vw;
    width: 28.095vw;
}

h2 {
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 2.857vw;
    line-height: 3.929vw;
    color: #FFFFFF;
    padding-bottom: 0.952vw;
}

p {
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.429vw;
    line-height: 1.964vw;

    color: rgba(255, 255, 255, 0.6);
}

.connect {
    padding-bottom: 200px;
}

footer {
    background: rgba(176, 175, 210, 0.09);
    display: flex;
    flex-direction: row;
    height: 6.190vw;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 3.810vw;
    padding-left: 43.333vw;
}

h3 {
    padding-left: 3.810vw;
}

a, h3 {
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.071vw;
    line-height: 143%;
    text-decoration: none;
    /* identical to box height, or 26px */

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    /* Label/Label Secondary */

    color: rgba(241, 241, 241, 0.6);
}

@media screen and (max-width: 440px) {
    h1 {
        font-size: 48px;
        line-height: 44px;
        width: 220px;
        padding-bottom: 16px;
    }

    span {
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 0px;
    }

    .form {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    button {
        padding: 6px 15px 8px;
        gap: 12px;
        width: 148px;
        height: 41px;   
        background: #41EF3E;
        border-radius: 12px;
        font-size: 14px;
        line-height: 143%;
    }

    input {
        padding: 6px 107px 6px 12px;
        gap: 32px;

        width: 338px;
        height: 42px;

        /* Background/Bg Secondary */

        background: rgba(176, 175, 210, 0.09);
        border-radius: 12px;
    }

    h2 {
        font-size: 20px;
        line-height: 27px;
        width: 200px;
    }

    p {
        font-size: 14px;
        line-height: 19px;
        width: 220px;
    }

    h3 {
        font-size: 14px;
    }

    .img1 {
        display: none;
    }

    .img2 {

        width: 90%;
    }

    .modul1 {
        width: 145px;
        height: 224px;
    }

    .modulesText {
        padding-left: 220px;
        padding-top: 80px;
    }

    .modul2, .modul3, .modul4 {
        display: none;
    }

    .remember {
        padding-top: 60vw;
    }


    .rememberText {
        padding-top: 20vw;
        padding-left: 40vw;
    }

    .remember1 {
        display: none;
    }

    .remember2 {
        position: absolute;
        right: 0;
        display: block;
    }

    .links {
        display: none;
    }

    .profileText {
        padding-left: 6vw;
        padding-top: 36vw;
    }

    .profile {
        padding-top: 20vw;
    }

    .profile1 {
        display: none;
    }

    .profile2 {
        position: absolute;
        right: 0;
        display: block;
    }

    footer {
        justify-content: center;
        height: 60px;
    }

    .connect h1 {
        width:auto;
    }

    .connect {
        padding-top: 40vw;
    }

    .form {
        gap: 4vw;
    }


}